spring:
  application:
    name: ws-chat
  datasource:
    url: jdbc:postgresql://localhost:5432/servicedesk
    username: postgres
    password: 2w3a236fdj!
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
  web:
    resources:
      add-mappings: false
  mvc:
    static-path-pattern: /static/**
server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG
    com.bm.ws-chat: DEBUG

jwt:
  secret: mySecretKeyThatShouldBeChangedInProductionAndMustBeAtLeast256BitsLongForHS512
  expiration: 86400000
  refresh-token:
    expiration-ms: 2592000000